<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Concert</title>
	<!-- Mobile Meta -->
  <meta name="viewport" content="width=1200, initial-scale=1, maximum-scale=1">

	<%= stylesheet_link_tag "application", media: "all" %>
	<!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&amp;amp;subset=latin,latin-ext">

	<%= render "partials/fb_meta" %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	  <link rel="stylesheet" href="/css/ie.css">
	  <script type="text/javascript" src="/js/html5.js"></script>
	<![endif]-->
</head>
