<!-- Page Header -->
<div class="content bg-gray-lighter hidden-print">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
              歡迎使用 <small><%= Settings.name %> 網站後台管理系統</small>
            </h1>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content bg-white border-b">
  <p>請點選左側選單開始操作。</p>
</div>
<!-- END Page Content -->