$h2-color: #858585;
$h2-size: 24px;
$h3-size: 18px;
$text-color: #2e2b34;
$dark-gray: #979797;
$light-gray: #a6a6a6; 

h2 {
	color: $h2-color;
	font-size: $h2-size;
}

h3 {
	color: $h2-color;
	font-size: $h3-size;
}

p {
	line-height: 1.7em;
}